.wrapper-container {
    margin: 1rem;
    display: block;
    column-gap: 50px;

    .address,
    .phone {
        display: inline;
        text-align: center;
        font-size: 1rem;
        font-weight: bold;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }


    img {
        width: 30px;
        display: inline-block;
        transition: transform 250ms;
        margin-left: 35px;
        margin-right: 35px;
        align-items: center;
    }

    a._icons:hover {
        transform: translate(-2px);
        align-items: center;
    }
}